@model IEnumerable<Streaming1.Models.Show>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JustWatchShowId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Runtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seasons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImdbId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImdbScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImdbVotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TmdbPopularity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TmdbScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeCertification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JustWatchShowId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Runtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seasons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImdbId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImdbScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImdbVotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TmdbPopularity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TmdbScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeCertification.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowType.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
